[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore.global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  side-by-side = true
[alias]
  co = checkout
  st = status
[push]
  default = simple
[init]
  defaultBranch = main
[pull]
  rebase = true
[rebase]
  autosquash = true
[rerere]
  enabled = true
[diff]
  algorithm = histogram
  colorMoved = default
[merge]
  conflictstyle = zdiff3
